@import "tailwindcss";
@plugin "daisyui";
@theme {
  --primary: #C47698;
  --secondary: #000000;
  --text-h1: #B00B69;
  --terciary: #9C5E79;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #C47698;
  --color-secondary: #000000;
  --color-accent: #9C5E79;
  --color-base-100: #FFFFFF;
  --color-text: #B00B69;
}


@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.4s ease-out forwards;
  }
  
 
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(251, 207, 232, 0.3);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ec4899, #db2777);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #db2777, #be185d);
  }
}